{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
                <div class="text-center col-md-2">
                    <div class="mb-2 card">
                        <span class="center-block"><img src="{{ lovers.image }}" height="60px" width="60px"></span>
                        <a href="" style="font-size: 15px">{{ lovers.name }}</a>
                    </div>
                </div>
        </div>
    </div>

{% endblock %}