{% extends 'base.html.twig' %}
{% block body %}
    {% include 'LoverApi/question1.html.twig' %}


    {% for lover in lovers %}
    Nom: {{ lover.name }}<br>
    {% if lover.height is defined %}
        <p style="background-color: #0000F0"> {{ lover.height }}</p><br>
    {% endif %}

    {% endfor %}


{% endblock %}