<form class="" method="post" action="">
    <p>Type de sabre laser ?</p>
    <div>
        <input type="radio" id="choice1" name="question" value="1">
        <label for="choice1">simple</label>

        <input type="radio" id="choice2"name="question" value="2">
        <label for="choice2">double</label>

        <input type="radio" id="choice3"name="question" value="3">
        <label for="choice3">je n'aime pas les sabres</label>
    </div>
    <input type="submit" name="submit" value="répondre">
</form>