<form method="get" action="" style="background-color: #6b9311">
    <p>Type de sabre laser ?</p>
    <div>
        <input type="radio" id="choice1" name="gender" value="male">
        <label for="choice1">simple</label>

        <input type="radio" id="choice2"name="gender" value="male">
        <label for="choice2">double</label>

        <input type="radio" id="choice3"name="gender" value="female">
        <label for="choice3">je n'aime pas les sabres</label>
    </div>
    <input type="submit">
</form>