<form method="get" action="" class="w-50 text-center m-auto form-question pt-3 pb-3">

    <p>Es-tu plutot : </p>
    <div class="d-flex justify-content-around">
        <input type="hidden" name="gender" value="{{ gender }}"/>
        <div>
            <input type="radio" id="choice1" name="species" value="1">
            <label class="label-question"for="choice1">humain</label>
        </div>

        <div>
            <input type="radio" id="choice2"name="species" value="2">
            <label class="label-question" for="choice2">industriel</label>
        </div>

        <div>
            <input type="radio" id="choice3"name="species" value="3">
            <label class="label-question" for="choice3">exotique</label>
        </div>

    </div>
    <input class="btn btn-link submit-question" type="submit">

</form>