<form method="get" action="" class="w-50 text-center m-auto form-question pt-3 pb-3">
    <p>quel type d'équipement preferes-tu ?</p>
    <div class="d-flex justify-content-around">
        <div>
            <input type="radio" id="choice1" name="gender" value="male">
            <label class="label-question"for="choice1">&nbspPetit blaster</label>
        </div>
        <div>
            <input type="radio" id="choice2"name="gender" value="male">
            <label class="label-question" for="choice2">&nbspGrand sabre laser</label>
        </div>
        <div>
            <input type="radio" id="choice3"name="gender" value="female">
            <label class="label-question" for="choice3">&nbspUn bon gros bouclier</label>
        </div>
    </div>
    <input class="btn btn-link submit-question" type="submit" value="Répondre">
</form>