<form method="get" action="" class="w-50 text-center m-auto form-question pt-3 pb-3">
    <p>quel type de coureur aimes tu ?</p>
    <div class="d-flex justify-content-around">
        <input type="hidden" name="gender" value="{{ gender }}"/>
        <input type="hidden" name="species" value="{{ species }}"/>
        <input type="hidden" name="age" value="{{ age }}"/>
        <div>
            <input type="radio" id="choice1" name="height" value="1">
            <label class="label-question" for="choice1">sprinteur</label>
        </div>

        <div>
            <input type="radio" id="choice2" name="height" value="2">
            <label class="label-question" for="choice2">marathonien</label>
        </div>

        <div>
            <input type="radio" id="choice3" name="height" value="3">
            <label class="label-question" for="choice3">j'aime pas la course</label>
        </div>

    </div>
    <input class="btn btn-link submit-question" type="submit">
</form>