<form method="get" action="" style="background-color: #6b9311">
    <p>Quel type de fruit aimes tu ?</p>
    <div>
        <input type="hidden" name="gender" value="{{ gender }}"/>
        <input type="hidden" name="species" value="{{ species }}"/>

        <input type="radio" id="choice1" name="age" value="1">
        <label for="choice1">bien ferme</label>

        <input type="radio" id="choice2" name="age" value="2">
        <label for="choice2">bien mure</label>

        <input type="radio" id="choice3" name="age" value="3">
        <label for="choice3">verreux</label>
    </div>
    <input type="submit">
</form>