{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="text-center exitMess">
            <p class="font-statjout">Merci amuse toi bien !</p>
        </div>
        <div>
            <a class="btn btn-link submit-question font-starjedi text-center d-block" href="/">Faire un autre choix</a>
        </div>
    </div>




{% endblock %}
