@font-face {
    font-family: starjout;
    src: url("../font/Starjout.f72f509a.ttf");
}

@font-face {
    font-family: starjedi;
    src: url("../font/Starjedi.cc3019aa.ttf");
}

@font-face {
    font-family: biko;
    src: url("../font/Biko_Regular.7cf27339.otf");
}

header {
    width: 1140px;
    /*background-color: rgba(190, 190, 190, 0.7);*/
}
h1 {
    color: #FFD200;
    text-shadow: 2px 2px black;
    font-family: 'Starjout';
    font-size: 4em;
}

form p {
    color: #FFD200;
    font-family: starjedi;
    font-size: 1.7rem;
}

.eaCard {
    background-color: rgba(190, 190, 190, 0);
    color: #FFD200;
    text-shadow: 2px 2px black;
}

.allCard{
    width: 90%;
}
.welcomeMess {
    font-size: 1.5em;
    color: #FFD200;
    text-shadow: 2px 2px black;
}

.logoutLink {
    color: #FFD200;
    text-shadow: 2px 2px black;
}

.backgroundBody {
    background: url("../img/etoiles.gif") fixed;
    font-family: 'Oswald', sans-serif;
}

.coBackgroud {
    background: url("../img/hs3.gif") no-repeat fixed;
    background-size: 100% 100%;
}

.eaLoverLink {
    font-size: 15px;
}

.endMessage {
    font-size: 2em;
    color: rgb(230,215,0);
    text-shadow: 2px 2px 0px black;
    text-shadow: -2px -2px 0px black;
}

.detailedCard {
    width: 400px;
}

.coForm {
    width: 500px;
    background-color: rgba(190, 190, 190, 0);
    margin-top: 210px;
}

.coFormTitle {
    color: #FFD200;
    font-size: 2em;
    font-family: starjedi;
}



.coFormBtn:hover {
    background-color: #FFD200;
}

.exitMess {
    background-color: rgba(190, 190, 190, 0);
    color: #FFD200;
    text-shadow: 2px 2px black;
    /*width: 300px;*/
    margin-top: 100px;
    font-size: 2em;
}

.finalMatch{
    font-size: 3em;
    color: pink;
}

.form-question{
    background-color: rgba(255, 210, 0, 0.3);
    border: 2px solid #FFD200;
    border-radius: 20px;
}

.label-question {
    color: white;
    font-size: 1.5rem;
}

.submit-question{
    color: #FFD200;
    font-family: starjedi;
    font-size: 1.5rem;
}

.submit-question:hover{
    color: white;
}

.font {
    font-family: starjout;
}

