header {
    box-shadow: black 2px 2px 2px;
    width: 1140px;
    background-color: white;
}

body {
    background: url("../img/etoiles.gif") fixed;
    font-family: 'Oswald', sans-serif;
}

.eaLoverLink {
    font-size: 15px;
}

.endMessage {
    font-size: 2em;
    color: rgb(230,215,0);
    text-shadow: 2px 2px 0px black;
    text-shadow: -2px -2px 0px black;
}

.detailedCard {
    width: 400px;
}

.finalMatch{
    font-size: 3em;
    color: pink;
;
}
