header {
    box-shadow: black 2px 2px 2px;
    width: 1140px;
    background-color: white;
}

body {
    background: url("../img/etoiles.gif") fixed;
    font-family: 'Oswald', sans-serif;
}

.eaLoverLink {
    font-size: 15px;
}

.endMessage {
    font-size: 2em;
    color: green;
}

.detailedCard {
    width: 400px;
}